* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #e8e8e8;
}

body {
    background-color: var(--bg-color);
}

/* navbar header */
.navbar-brand {
    position: relative;
}

#logo {
    width: 50px;
}

#moviestar-title {
    position: absolute;
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    bottom: -2px;
    left: 55px;
}

#main-navbar {
    background-color: #121212;
}

#search-form {
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    width: 50%;
    margin-left: 180px;

}

#search-form .form-control {
    border: none;
    width: 90%;
    outline: none;
}

#navbar {
    /* border:1px solid red; */
    min-width: 30%;
}

.navbar-nav {
    justify-content: flex-end;
    width: 100%;
}

.navbar-nav .nav-item .nav-link {
    color: #fff;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #999;
    transition: all linear .5s;

}

.bold {
    font-weight: bold;
}

/* estilização da mensagem de entrada */
.msg-container {
    padding: 15px;
    background-color: #000;
}

.msg {
    padding: 5px;
    width: 60%;
    margin: 0 auto;
    border: 1px solid red;
    text-align: center;
}

/* msg de erro */
.msg.error {
    border-color: #f5c2c7;
    font-size: 20px;
    border-color: #dc3545;
    color: #dc3545;
    opacity: .8;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #dc3545;

}

/* msg de sucesso */
.msg.sucess {
    opacity: .9;
    color: #28a745;
    border-color: #28a745;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #28a745;

}

/* home main */
#main-container {
    background-color: #000;
    min-height: 65vh;
    color: #fff;
    padding: 40px;
}

.section-title{
    font-size: 24px;
    border-left: 4px solid #f5c518;
    padding-left: 12px;
    margin-top: 20px;
}

.section-description{
    color: #ccc;
    font-size: 18px;
}

.movies-container{
    display: flex;
    flex-wrap: wrap;
    /* flex-wrap: quando o tamanho chegar ao limite, ele irá colocar um ao lado do outro */
    margin: 0 -15px;
    /* border: 1px solid red; */
}

.movie-card{
    background-color: #1a1a1a;
    width: 18%;
    margin-bottom: 30px;
    margin-left: 1%;
    margin-right: 1%;
}

.movie-card .card-img-top{
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.card-title{
    height: 3rem;
}

.card-title a{
    font-size: 16px;
    color: #fff;
}

.fas.fa-star{
    color: #f5c518;
}

.rating{
    color: #ccc;
}

.rate-btn{
    margin-bottom: 15px;
    color: #5799ef;
    background-color: #333;
    width: 100%;
    font-weight: bold;
}

/* se não tiver lista de filme */
.empty-list{
    text-align: center;
    font-size: 18px;
    width: 100%;
    font-weight: bold;
}

/* login/register */
#auth-row {
    justify-content: space-evenly;
}

#login-container h2,
#register-container h2 {
    text-align: center;
    border-bottom: 2px solid #f5c518;
    width: 200px;
    margin: 0 auto;
    padding: 10px;
    /* border:1px solid red; */

}

#login-container form,
#register-container form {
    max-width: 400px;
    margin: 20px auto;
}

.card-btn {
    width: 100%;
    color: #000;
    background-color: #f5c518;
    border-radius: 5px;
}

.card-btn:hover {
    background-color: transparent;
    color: #f5c518;
    border-color: #f5c518;
    transition: all linear .5s;
}

/* footer */
#footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 20px;
    /* border: 1px solid red; */
}

#social-container ul,
#footer-links-container ul {
    list-style: none;
    padding: 0;
}

#social-container li,
#footer-links-container li {
    display: inline-block;
    margin: 0 20px;
}

#social-container li {
    height: 40px;
    width: 40px;
    line-height: 3;
    opacity: .5;
}

#social-container li:hover {
    opacity: 1;
    background-color: #333;
    transition: .5s;
    border-radius: 50%;
    transform: scale(1.2);
}


#footer-links-container a,
#footer p>a {
    color: #fff;
    text-decoration: none;
}

#footer-links-container a:hover,
#footer p>a:hover {
    color: #0056B3;
}

/* icones do font awesome */
#social-container li i {
    font-size: 25px;
}

#footer-links-container {
    /* border:1px solid red; */
    margin: 30px 0px;
}

/* edição de perfil */
#profile-image-container {
    width: 150px;
    height: 150px;
    border: 6px solid #f5c518;
    border-radius: 100%;
    /* background-color: cover; */
    background-position: center center;
    margin: 15px auto;
    opacity: .7;
}

#profile-image-container:hover {
    opacity: 1;
    transition: all linear .5s;
}

.page-description {
    color: #999;
}

#bio {
    max-width: 400px;
}

.form-control.disabled {
    background-color: #bbb;
}

#change-password-container {
    margin-top: 30px;
}

#add-movie-container .card-btn{
    width: auto;
    /* border:1px solid red; */
    
}
/* seção new movie */
.new-movie-container {
    text-align: center;
    /* border: 1px solid red; */
}

#add-movie-form {
    text-align: left;
}

.movie-image-container {
    height: 400px;
    min-width: 200px;
    background-position: center;
    background-size: cover;
}

.page-title::after{
    content: "";
    width: 300px;
    border-bottom: 2px solid #f5c518;
    display: block;
    margin: 0 auto;
    padding-top: 5px;
}

/* dasboard */
#add-movie-container{
    text-align: right;
    /* border:1px solid red; */
}

#movies-dashboard table{
    color: #fff;
}

#movies-dashboard .table th{
    border:none;
}

#movies-dashboard .table tr{
    padding: 15px 0px;
    /* border:1px solid red; */
}

.table-movie-title{
    color: #fff;
    font-weight: bold;
}

.actions-column{
    max-width: 75px;
    text-align: center;
    /* border:1px solid red; */
}

.actions-column form{
    display: inline-block;
}

.edit-btn, .delete-btn{
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0 5px;
    font-weight: bold;
    border:none;
}

.edit-btn{
    background-color: #000;
    color: #fff;
}

.edit-btn:hover{
    background-color: #0056B3;
    color: #fff;
    text-decoration: none;
}

.delete-btn{
    background-color: #000;
    color: #fff;
}

.delete-btn:hover{
    background-color: red;
    color: #fff;
    text-decoration: none;
}